

.profile{
    text-decoration: none;
    color:rgb(145, 161, 149);
}

.profile:hover{
    text-decoration: underline;
}
/* 
.btn{
    text-decoration: none;
    color:rgb(122, 103, 103);
    margin:4%;
} */
.btn{
    margin:4%;
    padding: 5px 13px;
    border-radius: 10px;
    background-color: rgb(64, 133, 212);
    color:antiquewhite;
    cursor: pointer;
    text-decoration: none;
}

.otp{
    text-decoration: none;
    color: antiquewhite;
}

.otp:hover{
    text-decoration: underline;
}

.btn1:hover{
    text-decoration: underline;
}

.Logbtn{
    margin:4%;
    width:6rem;
    padding: 5px 13px;
    border-radius: 10px;
    background-color: rgb(64, 133, 212);
    
}

.Log{
    text-decoration: none;
    cursor: pointer;
    color:rgb(246, 232, 215);
}

.Log:hover{
    text-decoration: underline;
}
